/fx/App/target
/fx/App/.idea
/fx/Exam_02/.idea
/fx/Exam_02/target
/fx/Gold/.idea
/fx/Gold/target
/fx/KantorProject/.idea
/fx/KantorProject/target
/fx/Project_01/.idea
/fx/Project_01/target
/training-app/fx/target
/training-app/fx/.idea
/training-app/fx2/.idea
/fx/Salvador/target
/fx/Salvador/.idea
/fx/Window/.idea
/fx/Window/target
/training-app/dao/training/target
/training-app/dao/.idea
/training-app/fx/src/main/resources/video
/training-app/fx
/xml/xml-sample-01/target
/xml/xml-sample-01/.idea
/xml/xml-sample-02/.idea
/xml/xml-sample-02/target
/xml/xml-sample-04/target
/xml/xml-sample-04/.idea
/soap/calculator/soap-ws/.idea
/soap/calculator/soap-ws/target
/soap/calculator/soap-ws-client/.idea
/soap/calculator/soap-ws-client/target
/soap/soap-kantor/.idea
/soap/soap-kantor/target
/soap/soap-ws-person/.idea
/soap/soap-ws-person/target
/soap/soap-ws-person-integration-tests/.idea
/soap/soap-ws-person-integration-tests/target
