/fx/App/target
/fx/App/.idea
/fx/Exam_02/.idea
/fx/Exam_02/target
/fx/Gold/.idea
/fx/Gold/target
/fx/KantorProject/.idea
/fx/KantorProject/target
/fx/Project_01/.idea
/fx/Project_01/target
/training-app/fx/target
/training-app/fx/.idea
/training-app/fx2/.idea
/fx/Salvador/target
/fx/Salvador/.idea
/fx/Window/.idea
/fx/Window/target
/training-app/dao/training/target
/training-app/dao/.idea
/training-app/fx/src/main/resources/video
/training-app/fx
