.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-bright {
    -fx-text-fill: FFE1AA;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: #FFE1AA;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-table-cell-border-color: black;
    -fx-table-header-border-color: black;
}

.table-view .column-header-background {
    -fx-background-color: black;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill:  #F39D00;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
